<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>563712547660-9150jgi4l609vrjkvfc9p9d2qcijg0mf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563712547660-9150jgi4l609vrjkvfc9p9d2qcijg0mf</string>
	<key>API_KEY</key>
	<string>AIzaSyDv8fZ2iEC0CLBKFAXUfTNDYxR_pBjwYyk</string>
	<key>GCM_SENDER_ID</key>
	<string>563712547660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Derek.Swifter</string>
	<key>PROJECT_ID</key>
	<string>swifter-6277c</string>
	<key>STORAGE_BUCKET</key>
	<string>swifter-6277c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:563712547660:ios:0976eb0e7f608480</string>
	<key>DATABASE_URL</key>
	<string>https://swifter-6277c.firebaseio.com</string>
</dict>
</plist>